{% extends "app/index.html" %}

{% block titulo_arriba %}
Acerca de - CELFUT
{% endblock %}

{% block contenido %}
<br><br>
<div style="padding:55px">
<h2 style="font-family:Poppins-Bold;">Sobre Mí</h2>
<p style="font-family:Poppins-Regular">Hola, soy Celeste.</p>
<br>
<p style="font-family:Poppins-Regular">Actualmente estoy cursando la Licenciatura en Sistemas de Información en la UNLU (Universidad de Luján), voy por el segundo año.</p>
<br>
<p style="font-family:Poppins-Regular">Mi interés por la informática surgió por mi padre, que sabe bastante y trabaja en SAP.</p>
<br>
<p style="font-family:Poppins-Regular">Me inscribí en el curso de Python para adquirir conocimientos y poder ingresar al mercado laboral.</p>
<br>
<p style="font-family:Poppins-Regular">Si bien me interesa más el backend, disfruté experimentar con HTML y CSS en este proyecto. Decidí crear esta página de productos de fútbol ya que es un tema que me gusta mucho, especialmente como hincha de San Lorenzo.</p><br>
<p style="font-family:Poppins-Regular">Ahora que tengo el curso de Python, además de seguir investigando este lenguaje, pretendo seguir aprendiendo cosas para especificarme en algo, aunque todavía no sé qué camino elegir.</p><br>
<p style="font-family:Poppins-Regular">Saludos!</p>

</div>


{% endblock %}