{% extends 'app/index.html' %}

{% block titulo_arriba %}
Preguntas Frecuentes - CELFUT
{% endblock %}

{% block contenido %}
<br><br><br><br>
<div class="preguntas">
    <h1 style="text-decoration:underline">Preguntas Frecuentes</h1>
    <br>

    <h4>¿Cómo encuentro el producto que estoy buscando?</h4>
    <p>Desde nuestra página de productos podés encontrar todo lo que hay en stock, o si buscás algo en particular podés utilizar las opciones de buscar por nombre o filtrar por categoría/etiqueta.</p>
    <hr>
    <h4>¿Cómo compro?</h4>
    <p>Ingresá al producto que elegiste y seleccioná "COMPRAR" (para esto debés estar logueado). Se te pedirá una serie de datos, y luego se te mandará un mail con instrucciones sobre cómo continuar la compra.</p>
    <hr>
    <h4>¿Cómo creo mi cuenta?</h4>
    <p>Si aún no tenes cuenta podes crear una desde la opción "Iniciar Sesión", seleccionando "Registrate". Una vez que la hayas creado ya podrás iniciar sesión normalmente.</p>
    <hr>
</div>

<br><br><br><br><br><br>
{% endblock %}