{% extends 'app/index.html' %}

{% block titulo_arriba %}
Cerrar Sesión
{% endblock %}

{% block contenido %}
<br><br><br><br>
<section class="bg0 p-t-23 p-b-140">
    <div style="margin-top:200px; margin-bottom:200px; padding-left:70px;padding-right:70px;">
        <h1 style="font-family: Poppins-Bold; src: url('../fonts/Poppins/Poppins-Bold.ttf'); text-align:center;">Hasta pronto!</h1>
    
        <br>
        <h2 style="font-family: Poppins-Regular; src: url('../fonts/Poppins/Poppins-Regular.ttf');text-align:center;">Has cerrado sesión.</h2>
    </div>

</section>
{% endblock %}